// ImtPN (Lille)
// Bootswatch

//
// Color system
//

// General layout settings
$imt-lille-primary: #00B8DE;
$imt-lille-secondary: #F2A900;

$primary: $imt-lille-primary;
$secondary: $imt-lille-secondary;

@import "../../imtpn/scss/pre";
